body, #wrapper{
    overflow: hidden;
}
#wrapper{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    perspective: 1000vmin;
}
#board{
    position: relative;
    width: 50vmin;
    height: 50vmin;
    background-color: #373737;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateZ(45deg);
    --lampColorLeft: skyblue;
    --lampColorRight: lightgreen;
}
#board.intro{
    animation: introBoard 1000ms ease-in-out forwards;
}
#board::before, #board::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
#board::before{
    background-color: #474747;
    --baseColor: #474747;
    background: linear-gradient(180deg, var(--lampColorLeft) 0%, var(--baseColor) 25%, var(--baseColor) 100%);
    opacity: .3;
    transform: rotateX(-90deg) translateY(150%) translateZ(25vmin) scaleY(3);
}
#board::after{
    background-color: #222222;
    --baseColor: #8d8d8d;
    background: linear-gradient(90deg, var(--lampColorRight) 0%, var(--baseColor) 25%, var(--baseColor) 100%);
    opacity: .3;
    transform: rotateY(90deg) translateX(150%) translateZ(25vmin) scaleX(3);
}
#board.jiggle{
    animation: jiggleBoard 500ms linear forwards;
}
.gridParent{
    position: absolute;
    inset: 3vmin;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.gridParent, .gridDot{
    border: 0.5px solid yellow;
    transform-style: preserve-3d;
}
.gridDot{
    position: relative;
    transition: all 150ms linear 0s;
}
.gridDot.selected{
    background-color: rgba(255,255,255,0.9);
}
.gridDot::before, .gridDot::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 200%;
    opacity: 0;
    transition: opacity 150ms linear 0s;
}
.gridDot.selected::before, .gridDot.selected::after{
    opacity: 1;
}
.gridDot::before{
    width: 200%;
    height: 100%;
    transform: translateX(0%) rotateY(-90deg) translateX(50%);
    background: linear-gradient(90deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
}
.gridDot::after{
    transform: translateY(-1%) rotateX(-90deg) translateY(-50%);
    background: linear-gradient(0deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
}
.gridDot::before{
    animation: blinkBefore 3000ms linear infinite;
}
.gridDot::after{
    animation: blinkAfter 3000ms linear infinite;
}

.delayAnim, .delayAnim::before, .delayAnim::after{
    animation-delay: 500ms !important;
}

.lampParent{
    --lampSize: 5.3vmin;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 100%;
    transform-style: preserve-3d;
    /* animation: animIntro 300ms ease-out 1500ms both; */
}
.outerLamp{
    cursor: pointer;
    animation: lampIntro 300ms ease-out 800ms both;
}
.outerLamp:hover{
    filter: brightness(120%);
}
.outerLamp:nth-of-type(2){
    animation-delay: 1000ms;
}
.outerLamp:nth-of-type(3){
    animation-delay: 1200ms;
}
.outerLamp:nth-of-type(4){
    animation-delay: 1400ms;
}
.outerLamp:nth-of-type(5){
    animation-delay: 1600ms;
}
.outerLamp:nth-of-type(6){
    animation-delay: 1800ms;
}
.outerLamp:nth-of-type(7){
    animation-delay: 2000ms;
}
.lamp{
    position: relative;
    width: calc(var(--lampSize) * 2);
    height: calc(var(--lampSize) / 2);
    background-color: white;
    --shadowColor: var(--lampColorLeft);
    box-shadow: 0 0 2vmin var(--shadowColor), 0 0 3vmin var(--shadowColor), 0 0 1vmin .5vmin var(--shadowColor) inset;
    margin: 1vmin;
    border-radius: 9999px;
    animation: lampBlink 1500ms linear infinite;
}
.lamp.length-7, .lamp.length-2, .lamp.length-3{
    animation-delay: -500ms;
}
.lamp.length-5, .lamp.length-1{
    animation-delay: -200ms;
}
.lamp::before, .lamp::after{
    content: '';
    position: absolute;
    width: var(--lampSize);
    height: calc(var(--lampSize) / 1.4);
    z-index: -1;
    top: calc(var(--lampSize) / -12);
    border-radius: 9999px;
    left: -10px;
    background: rgb(121,120,125);
    /* background: linear-gradient(180deg, rgba(121,120,125,1) 0%, rgba(194,192,203,1) 26%, rgba(78,77,80,1) 88%, rgba(143,139,149,1) 100%); */
    background: linear-gradient(180deg, rgba(121,120,125,1) 0%, var(--shadowColor) 26%, rgba(78,77,80,1) 88%, var(--shadowColor) 100%);
}
.lamp::after{
    left: auto;
    right: -10px;
    z-index: inherit;
    content: '●';
    /* bullet */
    color: rgb(69, 69, 71);
    font-size: calc(var(--lampSize) * 1.2);
    line-height: calc(var(--lampSize) * .7);
    text-indent: calc(var(--lampSize) * .3);
    text-shadow: 0 0 calc(var(--lampSize) * .1) white;
}
.lampParent.horizon .lamp::before, .lampParent.horizon .lamp::after{
    height: var(--lampSize);
    width: calc(var(--lampSize) / 1.4);
    top: -10px;
    left: calc(var(--lampSize) / -12);
    background: rgb(121,120,125);
    /* background: linear-gradient(90deg, rgba(121,120,125,1) 0%, rgba(194,192,203,1) 26%, rgba(78,77,80,1) 88%, rgba(143,139,149,1) 100%); */
    background: linear-gradient(90deg, rgba(121,120,125,1) 0%, var(--shadowColor) 26%, rgba(78,77,80,1) 88%, var(--shadowColor) 100%);
    font-size: calc(var(--lampSize) * 1.2);
    line-height: calc(var(--lampSize) * 1.4);
    text-indent: 0;
}
.lampParent.horizon .lamp::after{
    top: auto;
    bottom: -10px;
    z-index: inherit;
}
.length-8{
    width: calc(var(--lampSize) * 8);
    margin-top: 2vmin;
}
.length-7{
    width: calc(var(--lampSize) * 7);
}
.length-6{
    width: calc(var(--lampSize) * 6);
}
.length-5{
    width: calc(var(--lampSize) * 5);
}
.length-4{
    width: calc(var(--lampSize) * 4);
}
.length-3{
    width: calc(var(--lampSize) * 3);
}
.lampParent.horizon{
    flex-direction: row;
    width: fit-content;
    height: 100%;
    top: 0%;
    left: 100%
}
.lampParent.horizon .lamp{
    /* background-color: lightgreen; */
    /* box-shadow: 0 0 2vmin lightgreen; */
    --shadowColor: var(--lampColorRight);
    width: calc(var(--lampSize) / 2);
    height: calc(var(--lampSize) * 2);
}
.lampParent.horizon .length-8{
    margin-top: 1vmin;
    margin-left: 2vmin;
    height: calc(var(--lampSize) * 8);
}
.lampParent.horizon .length-7{
    height: calc(var(--lampSize) * 7);
}
.lampParent.horizon .length-6{
    height: calc(var(--lampSize) * 6);
}
.lampParent.horizon .length-5{
    height: calc(var(--lampSize) * 5);
}
.lampParent.horizon .length-4{
    height: calc(var(--lampSize) * 4);
}
.lampParent.horizon .length-3{
    height: calc(var(--lampSize) * 3);
}
/* .lamp.animateIn{
    animation: lampIntro 1000ms ease-out forwards;
}*/
@keyframes animIntro {
    0%{opacity: 0;}
    100%{opacity: 1;}
} 
@keyframes lampIntro {
    /* 0%{opacity: 0;}
    100%{opacity: 1;} */
    0%{transform: translateZ(-6vmin); opacity: 0;}
    60%{transform: translateZ(3vmin); opacity: 1;}
    100%{transform: translateZ(0); opacity: 1;}
} 

@keyframes lampBlink {
    0%{box-shadow: 0 0 2vmin var(--shadowColor), 0 0 3vmin var(--shadowColor), 0 0 1vmin .5vmin var(--shadowColor) inset;}
    23%{box-shadow: 0 0 2vmin var(--shadowColor), 0 0 3vmin var(--shadowColor), 0 0 1vmin .5vmin var(--shadowColor) inset;}
    25%{box-shadow: 0 0 1vmin var(--shadowColor), 0 0 2vmin var(--shadowColor), 0 0 0.5vmin .5vmin var(--shadowColor) inset;}
    27%{box-shadow: 0 0 2vmin var(--shadowColor), 0 0 3vmin var(--shadowColor), 0 0 1vmin .5vmin var(--shadowColor) inset;}
    96%{box-shadow: 0 0 2vmin var(--shadowColor), 0 0 3vmin var(--shadowColor), 0 0 1vmin .5vmin var(--shadowColor) inset;}
    98%{box-shadow: 0 0 1vmin var(--shadowColor), 0 0 2vmin var(--shadowColor), 0 0 0.5vmin .5vmin var(--shadowColor) inset;}
    100%{box-shadow: 0 0 2vmin var(--shadowColor), 0 0 3vmin var(--shadowColor), 0 0 1vmin .5vmin var(--shadowColor) inset;}
}

@keyframes blinkBefore {
    0%{background: linear-gradient(90deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
    5%{background: linear-gradient(90deg, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);}
    10%{background: linear-gradient(90deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
    35%{background: linear-gradient(90deg, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);}
    38%{background: linear-gradient(90deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
    40%{background: linear-gradient(90deg, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);}
    43%{background: linear-gradient(90deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
    100%{background: linear-gradient(90deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
}
@keyframes blinkAfter {
    0%{background: linear-gradient(0deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
    5%{background: linear-gradient(0deg, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);}
    10%{background: linear-gradient(0deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
    35%{background: linear-gradient(0deg, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);}
    38%{background: linear-gradient(0deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
    40%{background: linear-gradient(0deg, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);}
    43%{background: linear-gradient(0deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
    100%{background: linear-gradient(0deg, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);}
}

@keyframes introBoard {
    0%{transform: rotateX(90deg) rotateZ(45deg);}
    100%{transform: rotateX(45deg) rotateZ(45deg);}
}

@keyframes jiggleBoard{
    0%{transform: rotateX(45deg) rotateZ(45deg);}
    15%{transform: rotateX(45deg) rotateZ(40deg);}
    30%{transform: rotateX(45deg) rotateZ(49deg);}
    45%{transform: rotateX(45deg) rotateZ(42deg);}
    60%{transform: rotateX(45deg) rotateZ(47deg);}
    75%{transform: rotateX(45deg) rotateZ(44deg);}
    100%{transform: rotateX(45deg) rotateZ(45deg);}
}