#wrapper{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
#board{
    width: 30vw;
    height: 30vw;
    background-color: red;
}